//css for about page
.about {
  height: 80vw;

  h1 {
    color: red;
  }
}
.div1 {
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #d8cfcf;
  align-items: center;
}
