.section.chiefs {
  display: block;
}

.top-chiefs-container {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5em;
}

.chief-card {
  display: flex;
  height: 300px;
  background-color: var(--background-color);
  border-radius: 5px;
  overflow: hidden;
  img {
    height: 100%;
    width: 160px;
    border-radius: 5px;
    box-shadow: 0 3px 6px var(--shadow-color);
  }
  .chief-card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5em;
    padding-left: 1em;
    .chief-card-name {
      font-size: 1.5em;
      font-weight: bold;
      color: var(--text-color);
    }
    .chief-recipe-count,
    .chief-YOE,
    .chief-likes {
      font-size: 1.1em;
      color: var(--text-light);
    }
    .chief-recipe-btn {
      align-self: center;
      margin-bottom: 30px;
      font-size: 0.8em;
      height: 30px;
      width: 120px;
      border-radius: 15px;
      border-color: rgb(148, 231, 231);
      box-shadow: 0 2px 6px var(--shadow-color);
      &:hover {
        background-color: rgb(138, 237, 237);
        box-shadow: 0 1px 3px var(--shadow-color);
      }
    }
  }
}
