.chief-banner {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;

  img {
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .chief-banner-info {
    h3 {
      font-size: 24px;
      margin-bottom: 5px;
    }

    h4 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #555;
    }

    p {
      margin: 5px 0;
      color: #777;
    }
  }
}
